.enlaces {background-color: #b0e0e6; padding: 50px; margin-left: 300px; margin-right: 300px; margin-top: 50px; text-align: center;}
h1 {text-align: center}
li {padding: 20px; font-weight: bold; text-align: center;}
p {text-align: center; font-size: 14px;}
a {text-align: center;}